body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #081018;
    overflow-x: hidden;
    padding: 20px 20px 0px;
}

.sidenav a {
    padding: 20px 0px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
}

.sidenav h3 {
  background-color: grey;
  padding-left: 20px;

}

.sidenav a:hover {
    filter: brightness(50%);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.departments {
    background-color: #122335;
    font-size: 22px; 
}

.departments a {
    color: white; 
}

.searchForm {
  padding-top: 20px;
}

#query {
  margin-right: 10px;
  width: 500px;
}

#searchBtn {
  width: 100px;
}

.content {
    margin-top: 10px;
    margin-left: 20px;
}

#sidebar-dept {
    width: 160px !important;
    background-color: #d1c4e9 !important;
    min-height: calc(100vh - 56px);
}

.btn-primary-purple {
    background-color: #6200ee;
    color: white; 
}

.btn-primary-purple:hover {
    background-color: #13002f;
}

.modal-body {
    background-color: #d1c4e9;
}

.modal-header {
    color: #6200ee;
}
